<div class="container-fluid" *ngIf="!isOpenForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>
                        Daftar Promo
                    </h1>
                    <div role="group" class="btn-group btn-group-sm btn-group-justified blocks">
                        <button  type="button" class="btn btn-sm btn-outline-secondary mr-2" (click)="showSearch(formSearch)">
                            <i class="fa fa-search font-size-14 align-middle mr-1"></i> Pencarian
                        </button>
                        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="createPromo()">
                            <i class="fa fa-plus font-size-14 align-middle mr-1"></i> Tambah Promo
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <td>Foto</td>
                                <td>Nama</td>
                                <td>Tipe</td>
                                <td>Diskon</td>
                                <td>Voucher</td>
                                <td>Kadaluarsa</td>
                                <td>Syarat & ketentuan</td>
                                <td width="90"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let val of listPromo">
                                <td>
                                    <img [src]="val.fotoUrl" class="rounded-circle img-thumb" height="80" width="80">
                                </td>
                                <td class="vertical-middle">{{ val.nama }}</td>
                                <td class="vertical-middle">{{ val.type }}</td>
                                <td class="vertical-middle">
                                    {{ val.diskon }}<i *ngIf="val.diskon">%</i>
                                    <p *ngIf="val.diskon === null">-</p>
                                </td>
                                <td class="vertical-middle">
                                    <p *ngIf="val.nominal">{{ formatRupiah(val.nominal, 'Rp .') }}</p>
                                    <p *ngIf="val.nominal === null">-</p>
                                </td>
                                <td class="vertical-middle">{{ val.kadaluarsa }} hari</td>
                                <td class="vertical-middle">{{ val.syarat_ketentuan }}</td>
                                <td class="vertical-middle text-right">
                                    <a href="javascript: void(0);" class="align-middle mr-2" placement="left" container="body" ngbTooltip="Ubah" (click)="updatePromo(val)">
                                        <i class="fa fa-edit font-size-14"></i>
                                    </a>
                                    <a href="javascript: void(0);" class="align-middle" placement="left" container="body" ngbTooltip="Hapus" (click)="hapusPromo(val.id_promo)">
                                        <i class="fa fa-trash font-size-14"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- form -->
<div class="container-fluid" *ngIf="isOpenForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content between">
                    <h1>{{ titleCard }}</h1>
                </div>
                <div class="card-body">
                    <form-promo [itemId]="modelId" (afterSave)="showForm(false)"></form-promo>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- search -->
<ng-template #formSearch let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{ titleCard }}</h5>
        <button
            type="button"
            class="close"
            (click)="modal.close()"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label class="col-md-4">Promo / Diskon</label>
                <div class="col-md-8">
                    <input
                        type="text"
                        name="nama"
                        class="form-control"
                        placeholder="Nama promo / diskon"
                        [(ngModel)]="filter.nama"
                    />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4"></label>
                <div class="col-md-8">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        (click)="search(); modal.close()"
                    >
                        <i
                            class="fa fa-search font-size-14 align-middle mr-1"
                        ></i>
                        Cari
                    </button>
                    <button
                        type="submit"
                        class="btn btn-outline-primary ml-2"
                        (click)="resetFilter(); modal.close()"
                    >
                        <i
                            class="font-size-14 align-middle mr-1"
                        ></i>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
